### 1) Download dataset and create college database:

In [ ]:
%env INSTANCE=my

In [ ]:
!gsutil cp gs://cs327e-open-access/sakila.zip .
!unzip sakila.zip

Copying gs://cs327e-open-access/sakila.zip...
/ [1 files][788.5 KiB/788.5 KiB]
Operation completed over 1 objects/788.5 KiB.
Archive:  sakila.zip
replace sakila/.DS_Store? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
!unzip mysql_college.zip

In [ ]:
!mysql < /home/jupyter/snippets/sakila/sakila-database.sql

In [ ]:
!mysql  -e "show tables"

### 2) Describe each table:

In [ ]:
!mysql college -e "desc Class"

In [ ]:
!mysql college -e "desc Instructor"

In [ ]:
!mysql college -e "desc Student"

In [ ]:
!mysql college -e "desc Teaches"

### 3) Import tables (Class, Student, Instructor, Teaches):

In [ ]:
!gcloud sql import csv $INSTANCE gs://cs327e-open-access/mysql_college/class.csv --database=college --table=Class --quiet

In [ ]:
!gcloud sql import csv $INSTANCE gs://cs327e-open-access/mysql_college/instructor.csv --database=college --table=Instructor --quiet

In [ ]:
!gcloud sql import csv $INSTANCE gs://cs327e-open-access/mysql_college/student.csv --database=college --table=Student --quiet

In [ ]:
!gcloud sql import csv $INSTANCE gs://cs327e-open-access/mysql_college/teaches.csv --database=college --table=Teaches --quiet

### 4) Check table record count:

In [ ]:
!mysql college -e "select count(*) from Class"

In [ ]:
!mysql college -e "select count(*) from Student"

In [ ]:
!mysql college -e "select count(*) from Instructor"

In [ ]:
!mysql college -e "select count(*) from Teaches"

### 5) Sample records from each table:

In [ ]:
!mysql college -e "select * from Student"

In [ ]:
!mysql college -e "select * from Class order by sid"

In [ ]:
!mysql college -e "select * from Instructor"

In [ ]:
!mysql college -e "select * from Teaches"

### Delete column header record from each table

In [ ]:
!mysql college -e "delete from Teaches where tid = 'tid'"

In [ ]:
!mysql college -e "delete from Instructor where tid = 'tid'"

In [ ]:
!mysql college -e "delete from Class where sid = 'sid'"

In [ ]:
!mysql college -e "delete from Student where sid = 'sid'"

### 6) Create Primary Keys

In [ ]:
!mysql college -e "alter table Student add primary key (sid)"

In [ ]:
!mysql college -e "alter table Instructor add primary key (tid)"

In [ ]:
!mysql college -e "alter table Teaches add primary key (tid, cno)"

In [ ]:
!mysql college -e "desc Student"

### 7) Create Foreign Key

In [ ]:
!mysql college -e "alter table Teaches add constraint foreign key (tid) references Instructor (tid)"

In [ ]:
!mysql college -e "show create table Teaches"

### 8) Test Foreign Key constraint on Teaches.tid

In [ ]:
!mysql college -e "insert into Teaches (tid, cno) values ('norman', 'cs313')"